div{
    width: 50%;
    height: 300px;
    background-color: blue;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 25px;
    padding-bottom: 100px;
}
div p{
    color: rgb(233, 18, 18);
}
p{
    color: chartreuse;
}
h1{
   text-align: center; 
}