div{
    width: 23%;
    background-color: darkgrey;
    float: left;
    text-align: center;
    border: black 1px solid;
    

}
img{
    width: 100%;
    height: 215px;
}
div h1{
    font-size: medium
};
div{
#a{
    font-size: x-large;
}
}